<section>
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">{{titulo}}</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="onCancelar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <section>
      <form class="form-horizontal" [formGroup]="formulario" novalidate>
              <div class="row">
                <div class="col">
                  <label for="recipient-name" class="col-form-label"
                  >Nombre Actividad:</label
                  >
                  <input class="form-control" id="nombreActividad"
                  formControlName="nombreActividad" [ngClass]="{
                    'danger': formulario.controls['nombreActividad'].touched && formulario.controls['nombreActividad'].errors,
                    'success': formulario.controls['nombreActividad'].valid
                }"/>
                </div>
                <div class="col">
                    <label for="recipient-name" class="col-form-label"
                    >Estatus:</label
                    >
                    <select class="custom-select custom-select-sm" id="estatus"
                      formControlName="estatus" [ngClass]="{
                        'danger': formulario.controls['estatus'].touched && formulario.controls['estatus'].errors,
                        'success': formulario.controls['estatus'].valid
                    }">
                    <option selected disabled>Seleccione estatus</option>
                    <option [ngValue]="estatu.id" *ngFor="let estatu of estatus">{{estatu.nombre}}</option>
                      </select>
                  </div>
              </div>

              <div class="row">
                <div class="col">
                    <label for="recipient-name" class="col-form-label"
                    >Fecha estimada ejecución:</label
                    >
                    <input class="form-control" id="fechaHoraEjecucion"
                    formControlName="fechaHoraEjecucion" [ngClass]="{
                      'danger': formulario.controls['fechaHoraEjecucion'].touched && formulario.controls['fechaHoraEjecucion'].errors,
                      'success': formulario.controls['fechaHoraEjecucion'].valid
                  }" type="datetime-local"/>
                </div>
                <div class="col">
                    <label for="recipient-name" class="col-form-label"
                    >Empleado:</label
                    >
                    <select class="custom-select custom-select-sm" id="empleado"
                      formControlName="empleado" [ngClass]="{
                        'danger': formulario.controls['empleado'].touched && formulario.controls['empleado'].errors,
                        'success': formulario.controls['empleado'].valid
                    }">
                    <option selected disabled>Seleccione empleado</option>
                    <option [ngValue]="empleado.id" *ngFor="let empleado of empleados">{{empleado.primerNombre | titlecase}} {{empleado.segundoNombre | titlecase}} {{empleado.primerApellido | titlecase}} {{empleado.segundoApellido | titlecase}}</option>
                      </select>
                </div>
              </div>
      </form>
  </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="onCancelar()">
        Cancelar
      </button>
      <button type="button"
                class="btn btn-primary"
                [disabled]="!formulario.valid"
                (click)="onCrearModificarActividad()">
            {{ (isEdit ? 'Editar' : 'Guardar') }}
        </button>
    </div>
  
</section>

