
<!-- <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/logoeafit.png"/>
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
        Universidad EAFIT
    </a> 
</div> -->
<div class="logo">
    <div class="simple-text logo-mini">
      <div class="logo-img" text-align="center">
        <img src="./assets/img/todosistemassti.png" alt="" />
        <b> * STI sistema web *</b>
      </div>
    </div>
    <br>
    <div class="simple-text logo-normal">
    </div>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
