<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="title">PANEL DE ACTIVIDADES</h5>
        </div>
        <div class="card-body ">
            <button type="button" class="float-right btn btn-primary" (click)="onCrearActividad()" data-backdrop="static" ngbTooltip="Crear">
                +
            </button>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre actividad</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Fecha estimada ejecución</th>
                    <th scope="col">Dias retraso ejecución</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody *ngFor="let actividad of actividades">
                  <tr>
                    <td>{{actividad.nombreActividad}}</td>
                    <td>{{actividad.estatus.nombre}}</td>
                    <td>{{actividad.fechaHoraEjecucion | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{actividad.diasRetraso}}</td>
                    <td>{{actividad.empleado.primerNombre | titlecase}} {{actividad.empleado.segundoNombre | titlecase}} {{actividad.empleado.primerApellido | titlecase}} {{actividad.empleado.segundoApellido | titlecase}}</td>
                    <td class="text-center">
                        <span class="span-action" placement="top" style="cursor: pointer;" (click)="onEditarActividad(actividad.id, actividad.nombreActividad, actividad.estatus.id, actividad.fechaHoraEjecucion, actividad.empleado.id)"
                        ngbTooltip="Editar">
                            <i aria-hidden="true" class="fas fa-edit"></i>
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="span-action" placement="top" style="cursor: pointer;" (click)="onEliminarActividad(actividad.id)"
                        ngbTooltip="Eliminar">
                            <i aria-hidden="true" class="far fa-trash-alt"></i>
                        </span>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="actividades.length == 0">
                    <tr>
                        <div class="alert alert-danger" role="alert">
                            No hay registros
                        </div>
                    </tr>
                </tbody>
            </table>
            
        </div>
      </div>
    </div>
  </div>
</div>
